<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="picologger"
            id="picologger">
      </category>
      <view
            name="Syslog Reader View"
            icon="icons/sample.gif"
            category="picologger"
            class="com.github.picologger.eclipse.syslogcat.views.SyslogcatView"
            id="syslogcatplugin.views.SyslogcatView">
      </view>
   </extension>

</plugin>
